
  div.icon-bar {
  width: 90px;
  background-color: #34495e;
  float:left;
  margin-right:30px
  }
    .icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
  background-color:  #34495e;
  }
  .same{
  float: left;
  font-size: 32px;

  }
  .icon-bar a:hover {
  color: #1abc9c;
  }.active {
  color: #1abc9c !important;
  }
  .header{
    color:white;
    margin-top: 6%;
  }
  .progressionbar{
  margin-left: 8%;
 
  }
  .fs1 {
  font-size: 32px;
  }
 
  .progressionbar li{
  list-style-type: none;
  width: 33.33%;
  float: left;
  position: relative;
  }
  .progressionbar li >span{
  width: 20%;
  height:30%;
  border:2px solid transparent;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  padding: 5%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.792157) 3px 3px 3px 0;
     }
  .progressionbar li:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: white;
  top: 35%;
  left: -50%;
  z-index: -1;
  }
    .first{
  animation-duration: 10s;
  animation-name: example1;
  animation-iteration-count: infinite;
  animation-delay:2s;
  }
  .line1+li::after{
  animation-duration: 10s;
  animation-name: example11;
  animation-iteration-count: infinite;
  animation-delay:2s;
  }
  .second{
  animation-duration: 10s;
  animation-name: example2;
  animation-iteration-count: infinite;
  animation-delay:2s;

  }.line2+li::after{
  animation-duration: 10s;
  animation-name: example12;
  animation-iteration-count: infinite;
  animation-delay:2s;
  }
  .third{
  animation-name: example3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  }
  @-webkit-keyframes example11 {
  0% {

  background-color: white;
  }
  100% {

  background-color: #f1c40f;
  }

  }@-webkit-keyframes example12 {
  0% {

  background-color: white;
  }
  100% {

  background-color: #f1c40f;
  }}
  @-webkit-keyframes example1 {
  0% {
  transform: scale(0.1);
  opacity: 0;
  background-color: white;
  }
  12% {
  transform: scale(1.2);
  opacity: 1;
  }
  20% {
  transform: scale(1);
  background-color: #f1c40f;
  }
  100% {
  transform: scale(1);
  background-color: #f1c40f;
  }}
  @-webkit-keyframes example2 {
  0% {
  transform: scale(1);
  opacity: 1;
  background-color: white;
  }
  29% {
  transform: scale(1);
  opacity: 1;
  background-color: white;
  }
  30% {
  transform: scale(0.1);
  opacity: 0;
  background-color: white;
  }
  42% {
  transform: scale(1.2);
  opacity: 1;
  }
  50% {
  transform: scale(1);
  background-color: #f1c40f;
  }
  100% {
  transform: scale(1);
  background-color: #f1c40f;
  }}

  @-webkit-keyframes example3 {
  0% {
  transform: scale(1);
  opacity: 1;
  background-color: white;
  }
  59% {
  transform: scale(1);
  opacity: 1;
  background-color: white;
  }
  60% {
  transform: scale(0.1);
  opacity: 0;
  background-color: white;
  }
  72% {
  transform: scale(1.2);
  opacity: 1;
  }
  80% {
  transform: scale(1);
  background-color: #f1c40f;
  }
  100% {
  transform: scale(1);
  background-color: #f1c40f;
  }}
  .progressionbar li:first-child:after{
  content: none;
  left: -50%;
  }
  .letter{
  border: 1px solid #d35400;
  border-radius: 50%;
  ;  font-size:3em;
  border-width: 100%;
  float: left;
  background-color: #d35400;
  color: white;
  }li.leter{
  color:black;
  }
  [class^="icon-"], [class*=" icon-"]{
  padding-bottom: 40%;
  }
  @media only screen and (min-width: 240px) and (max-width: 767px){
  .letter{
  border: 1px solid #d35400;
  border-radius: 50%;
  font-size:3em;
  }[class^="icon-"], [class*=" icon-"]{
  padding-bottom: 40%;
  }[class^="icon-"], [class*=" icon-"]{
  padding-bottom: 0%;}
  div.icon-bar {

  background-color: #34495e;


  }.icon-bar a {
  display: inline-block;
  }
  .header{
  margin-top:15%;
  color:white;

  }.progressionbar li >span{

  width: 50%;
  height:50%;
  }.progressionbar li:after{

  top: 20%;}li.leter{
  color:white;
  }
  body{
  background-color:white;
  }.progressionbar li{
  width:25%;
  }
  .fs1{
  font-size: 20px;
  }
  .toggle{
  margin-top:45%;
  }
  }