body{
background-color: #ecf0f1;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}.navbar-inverse,.container-fluid
     {
      background-color: #1abc9c;
      border:none;
    }   .navbar-brand{
      background-color: #34495e;
      width:90px;
      }
       .navbar{
          margin-bottom: 0!important;
      }

      .navbar-brand{
      background-color: #34495e;
      width:90px;
      }
      .dropdown.navbar-nav>.dropdown-toggle{
      color: #fff;
      } .dropdown-menu li a>h2{
      border: 1px solid #d35400;
      border-radius: 50%;
      background-color: #d35400;
      border-width: 5px;
      border- height: 5px;
      float: left;
      color: #fff;
    }.dropdown-menu{
      width: 200px;
    }
   
      div.icon-bar {
      width: 90px;
      background-color: #2c3e50;
      padding-bottom: 200px;
      }.dropdown:hover{
      background-color: #16a085;
      } 
      .icon-bar a {
      display: block;
      text-align: center;
      padding: 25px;
      transition: all 0.3s ease;
      color: white;
      font-size: 36px;
      margin-right: 20px;
      }
     .icon-bar a:hover {
      color: #16a085;
      }
      .active {
      color: #16a085 !important;
      }
     .icon>[class^="icon-"], [class*=" icon-"]{
      padding-bottom: 400px;
      }  .menu-container{
      background-color:  #2c3e50;width: 100%;height: 50px

      }.animation-body{
      margin-top: 10%;
      } .animation-heading{
      text-align: center;
      }.btn-group{
margin-left:43%;
} .progressionbar li{
      list-style-type: none;
      width: 20%;
      float: left;
      position: relative;
      }
      .progressionbar li >span{
      width: 2.5em;
      height: 2.5em;
      border:2px solid transparent;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      padding-top: 10%;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.792157) 3px 3px 3px 0;
      }
      .progressionbar li:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 6px;
      background-color: white;
      top: 15%;
      left: -50%;
      z-index: -1;
      }.progressionbar ul .fs1 li span~h3{
      text-align: center;
      margin-top: 10%;
      } li.btn-1>span{
background-color: #f1c40f;
}.btn-1+li::after{
background-color: #f1c40f;
}

li.btn-2>span{
background-color: #1abc9c;
}
.btn-2+li::after{
background-color: #1abc9c;
}
li.btn-3>span{
background-color: #d35400;
}
.btn-3+li::after{
background-color: #d35400;
}
li.btn-4>span{
background-color: #3498db;
}
.btn-4+li::after{
border: 1px dotted black;
background-color: #fff;
}
.btn-5>span:hover{
background-color: black;
border: 6px solid white;
}
.progressionbar li >span:hover{
width: 3.5em;
height: 3.5em;

}
.progressionbar ul li span~h3{
      text-align: center;
      margin-top: 25%;

      }
      .btn-group+h3{
       text-align: center;

      }
@media only screen and (min-width: 240px) and (max-width: 767px){
      .progressionbar li{
      width:18%;
      }.progressionbar li >span{

      width: 2em;
      height:2em;
      } .icon-gift,.icon-truck2,.icon-profile-male{
      font-size: 22px;

      }.progressionbar li:after{

      top: 20%;}.animation-heading{
      margin-left:20%;
      }.progressionbar{
      margin-left:15%;
      }.icon>[class^="icon-"], [class*=" icon-"]{
      padding-bottom: 200px;
      }.dropdown-menu li a >h6{
        color: #fff;
      }
      .progressionbar ul li span~h3{
      text-align: center;
      margin-top: 25%;
      font-size:10px;

      }
      .progressionbar li >span:hover{
width: 2.5em;
height: 2.5em;

}.btn-group+h3{
    margin-left:25%;

      }
      }

  